{% extends 'base.html' %}

{% block content %}
<h1>A simple to-do application</h1>
<div class="filter">
    <li><a href="{{ url_for('todos.completed') }}">Completed</a></li>
    <li><a href="{{ url_for('todos.uncompleted') }}">Uncompleted</a></li>
    <li><a href="/">All</a></li>
</div>
<ul>
  {% for todo in todos %}
  <li class="{{ "completed" if todo['completed'] }}">
    {{ todo['description'] }}
  </li>
  {% endfor %}
</ul>
<form method="post">
  <label for="task">New Task</label>
  <input name="task" id="task" required>
  <input type="submit" value="Add">
</form>
{% endblock %}
